.active {
    color: #3D3D3D;
    cursor: default;
}

.active:hover {
    text-decoration: none;
}

.lagos {
    color: #3D3D3D;
    font-size: 30px;
    font-weight: normal;
    line-height: 40px;
    padding-top: 20px;
}

.blue {
    margin-left: 10px
}

.boxes {
    color: #3D3D3D;
    border-radius: 4px;
    line-height: 3;
    margin-left: 32px;
    margin-top: 40px;
}

.date {
    padding: 3px;
}

.forecast-info {
    margin-left: 15px;
}

#icon {
    width: 100px;
}

li {
    list-style-type: none;
}

p {
    text-align: center;
}

.strong {
    font-weight: bold;
}

.temp {
    font-size: 45px;
}

.temperature {
    margin-left: 50px;
}

.units {
    position: absolute;
    top: 1px
}

.wrapper {
    border: 1px solid #3D3D3D;
    border-radius: 4px;
    display: block;
    margin: 0 auto;
    width: 600px;
}

#weather {
    text-transform: capitalize;
}

.weather-forecast {
    margin-bottom: 20px;
}

.weather-forecast-temp {
    line-height: 1;
    font-size: 15px;
    font-weight: normal;
}

.wrapper {
    background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
    border: 1px solid #3D3D3D;
    border-radius: 4px;
    display: block;
    margin: 0 auto;
    width: 600px;
    margin-top: 40px;
}